<div class="page-header">
  <%= link_to new_song_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Song
  <% end %>
  <h1>Listing songs</h1>
</div>

<%= render "list"%>
